GIN_MODE=debug #change it to release if its for production

PORT=4000 #change the port to port that available

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password_kamu
DB_NAME=postgres
DB_PORT=5432
DB_SSLMODE=require

JWT_SECRET=YOUR-JWT-SECRET #change the secret to 32char or 64char
JWT_EXPIRES=enable
JWT_EXPIRES_IN=24