GIN_MODE=debug #change it to release if its for production

PORT=8000 #change the port to port that available
ALLOWED_ORIGINS=http://127.0.0.1:3000 #Dont forget to change the origin so it can work (more than 1 is allowed)

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password_kamu
DB_NAME=postgres
DB_PORT=5432
DB_SSLMODE=require

JWT_SECRET=YOUR-JWT-SECRET #change the secret to 32char or 64char
JWT_EXPIRES=enable
JWT_EXPIRES_IN=24